---
import Contact from "../components/contact.astro";
import Experience from "../components/experience.astro";
import Profile from "../components/profile.astro";
import Projects from "../components/projects.astro";
import profile from "../data/profile.json";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{profile.name} portfolio</title>
  </head>

  <body class="flex flex-col justify-center items-center min-h-dvh">
    <div class="flex gap-8 p-8 flex-col 3xl:flex-row">
      <div class="flex flex-col gap-8 items-stretch 3xl:w-[825px]">
        <Profile profile={profile} />
        <div class="flex flex-grow"><Experience /></div>
      </div>
      <Projects />
      <div
        class="3xl:fixed mb-8 3xl:bottom-0 left-0 right-0 flex lg:justify-center sm:items-center lg:flex-row flex-col"
      >
        <Contact
          name={profile.name}
          email={profile.email}
          phoneNumber={profile.phoneNumber}
          phoneNumberLabel={profile.phoneNumberLabel}
        />
      </div>
    </div>
  </body>
</html>
