---
import Contact from "../components/contact.astro";
import Experience from "../components/experience.astro";
import Profile from "../components/profile.astro";
import Projects from "../components/projects.astro";
import profile from "../data/profile.json";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="src/styles/global.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{profile.name} portfolio</title>
  </head>

  <body class="flex justify-center items-center min-h-dvh">
    <div class="flex gap-8">
      <div class="flex flex-col gap-8 items-stretch">
        <Profile profile={profile} />
        <Experience />
      </div>
      <div class="flex flex-col items-stretch gap-8 w-max">
        <Projects />
      </div>
    </div>
    <div class="fixed bottom-8 left-0 right-0 flex justify-center items-center">
      <Contact name={profile.name} email={profile.email} />
    </div>
  </body>
</html>
